<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ArborMetricsTestSuite" thread-count="1">
    <test name="Course Registration form Test">
        <classes>
            <class name="com.ArborMetrics.testPages.TestCourseRf">
               <!-- we can even customize/control running methods by including down-->
            </class>
        </classes>
    </test>
</suite>